Change the background of the entire visible page */
body {
    background-color: #f580ad; /* light pink; */
}

/* Style for all paragraphs */
p {
    color: #00b7ff;
    font-size: 16px;
    font-family: 'comic sans', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px #ca85f2; /* Adds an pink border around the heading */
    padding: 5px; /* Adds space inside the border */
