Change the background of the entire visible page */
body {
    background-color: #ffafcc; /* very light grey; */
}

/* Style for all paragraphs */
p {
    color: #00b7ff;
    font-size: 16px;
    font-family: 'comic sans', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px #d3b5e4; /* Adds an blue border around the heading */
    padding: 10px; /* Adds space inside the border */
