/* Change the background of the entire visible page */
body {
    background-color: #f0f0f0; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: dark blue;
    font-size: 16px;
    font-family: 'comic sans', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px blue; /* Adds an blue border around the heading */
    padding: 10px; /* Adds space inside the border */
